input_file/vehicles_by_carrier.csv
input_file/TAZs/
input_file/
input_file/15.skims.csv
*~
.DS_Store

.ipynb_checkpoints/
.ipynb_checkpoints

Saved_VRP_Code.ipynb
vrp_prob_comm_4.xml
*.lp
input_file/payload_mock_up_1.csv

*.csv

output/
output/*

*.lp
*.xml
